<div class="quizz__container__quest">
    <div class="quizz_questions">
        <h3>{{quizzControllerService.Questions.question}}</h3>
    </div>
    <div class="quizz_options">
      <button 
        class="btn-option" 
        *ngFor="let option of quizzControllerService.Questions.options"
        (click)="selectResponse(option.id)"
        [ngClass]="{'selected': quizzControllerService.isOptionSelected(option.id)}"
      >
        <span>{{option.name}}</span>
      </button>
      <div class="finish-container" *ngIf="quizzControllerService.isFinish()">
          <button class="btn-option finish">
            <span>Ver meu resultado</span>
          </button>
      </div>
    </div>
    <div class="navegation">
        <button (click)="navegationQuestion(this.quizzControllerService.ID-1)">
            back
        </button>

        <button (click)="navegationQuestion(this.quizzControllerService.ID+1)">
            next
        </button>
    </div>
  </div>