/* You can add global styles to this file, and also import other style files */
*{
  padding:0;
  margin:0;
  border:0;
  box-sizing: border-box;
}

body{
  background-color: var(--light-gray);
}

:root{
  --background: #fff;
  --primary-color: #000;
  --secondary-color: #A0A0A0;
  --tertiary-color: #fff;
  --red: #ee3322;
  --yellow: #ffee38;
  --light-yellow: #FFEE3850;
  --blue: #0f65ef;
  --light-gray: #F4F4F4;
  --green: #39B26B;
}